@page "/social"

<h3>Blazot Social Network</h3>

<div class="text-center p-3">
    <a href="https://blazot.com" target="_blank">
        <BlazotLogo Width="100" Height="100" />
    </a>
</div>

<p>Be sure to check out my new and developing social network, built in Blazor!!</p>

<ul class="list-unstyled">
    <li>
        Website: <a href="https://blazot.com" target="_blank">https://blazot.com</a>
    </li>
    <li>
        Follow me at: <a href="https://blazot.com/steveelliott" target="_blank">https://blazot.com/steveelliott</a>
    </li>
</ul>
